<h1>{{ term.term }}</h1>

<div>Learned: {{ term.learned ? '+' : '-' }}</div>

<div>
    Translations:
</div>

<div>
    {% for translation in translations %}
        <div>
            <a href="{{ path('showTerm', {id: translation.id, baseLang: translation.lang.value, secondaryLang: term.lang.value}) }}">{{ translation.term }}</a>

            <form action="{{ path('removeTranslation', {id: term.id, baseLang: term.lang.value, secondaryLang: translation.lang.value, translationId: translation.id}) }}" method="post">
                <input type="submit" value="Delete">
            </form>
        </div>
    {% endfor %}
</div>

<h3>Add translations</h3>

<form action="{{ path('AddTranslations', {id: term.id, baseLang: term.lang.value, secondaryLang: app.request.get('secondaryLang')}) }}" method="post">
    <div>
        <div class="translation-field-wrapper">
            <input type="text" class="translation-field" name="translations[]" placeholder="Translation">
        </div>

        <button type="button" class="add-translation">Add</button>
    </div>

    <input type="submit" value="Save">
</form>

<div>
    <a href="{{ path('showTerms', {baseLang: term.lang.value, secondaryLang: app.request.get('secondaryLang')}) }}">List terms</a>
</div>

<form action="{{ path('removeTerm', {baseLang: term.lang.value, secondaryLang: app.request.get('secondaryLang'), id: term.id}) }}" method="post">
    <input type="submit" value="Delete">
</form>
